.flex-container{
  border: solid 10px red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.flex-item{
  font-size: 50px;
  text-align: center;

}

.item1{
  background-color: orange;
}

.item2{
  background-color: blue;
}

.item3{
  background-color: green;
}

.item4{
  background-color: purple;
}

.item5{
  background-color: red;
}

.item6{
  background-color: navy;
}
