h2.header {
    text-align: center;
    border: 3px solid black;
}

h3 {
    border: 3px solid black;
    text-align: center;
}

.birdCard {
    border: 3px solid black;
}
.birdCard p{
  text-align: center;
}
.birdCard img{
  width: 300px;
  height: 200px;
  width: 75%;
  margin-left: 44px;
  max-height: 288px;
  margin-bottom: 50px;
}
.formField {
    width: 25%;
}
form#myForm {
    padding-bottom: 25px;
}
button.btn.btn-primary.submitForm {
    margin: 20px;
    margin-left: -5px;
}
