<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css"

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <div class="" id="app">
          <h2 class="header">{{title}}</h2>
         <div class="container">
           <div class="">
             <h3>Lets Add Some Birds</h3>
             <form id="myForm" v-on:submit.prevent="addBird" class="theForm">

               <div class="col-md-12 formField">
                   <label for="">Bird Name</label>
                   <input type="text" v-model="name">
               </div>
               <div class="col-md-12 formField">
                 <label for="">Bird Species</label>
                 <input type="text" v-model="species">
               </div>
               <div class="col-md-12 formField">
                 <label for="">Bird Gender</label>
                 <input type="text" v-model="gender">
               </div>
               <div class="col-md-12 formField">
                 <label for="">Bird Image</label>
                 <input type="text" v-model="img">
               </div>
               <div class="">
               <button type="submit" class="btn btn-primary submitForm" name="button">Submit Bird</button>
              </div>

             </form>
           </div>


            <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4 birdCard" v-for="b in birds">
              <h3>Name: {{b.name}}</h3>
              <p>Species: {{b.species}}</p>
              <p>Gender: {{b.gender}}</p>
              <img :src="b.img">
            </div>
          </div>
          </div>
          </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
